@{ Layout = "~/Areas/Student/Views/Shared/_LayoutStudent.cshtml"; }



<h1>ناحیه کاربری شما</h1>

<div class="mt-2">

    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
}
