@using EndPoint.Site.Useful.Ultimite
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @Html.ActiveClass("Profile", "GetUserDitaels")"  asp-action="GetUserDitaels">پروفایل</a></li>
    <li class="nav-item"><a class="nav-link @Html.ActiveClass("Profile", "ChangeProfile")" asp-area="Student" asp-controller="Profile"  asp-action="ChangeProfile">تغییر مشخصات</a></li>
    <li class="nav-item"><a class="nav-link @Html.ActiveClass("Profile", "ChangePassword")"  asp-action="ChangePassword">تغییر رمز عبور</a></li>


    
</ul>
