@model Azmoon.Application.Service.User.Dto.ResetPasswordStudendtDto
@addTagHelper *, DNTCaptcha.Core

@{
    ViewData["Title"] = "تغییر رمز عبور";
    Layout = "~/Areas/Student/Views/Profile/_Layout.cshtml";
}




<div class="row">
    <div class="col-md-4">
        @if (ViewBag.Errors != null)
        {
            <div class=" alert alert-danger">
                <ul>
                    @foreach (var item in ViewBag.Errors)
                    {
                        <li>@item</li>

                    }
                </ul>
            </div>

        }
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="RePassword" class="control-label"></label>
                <input asp-for="RePassword" class="form-control" />

            </div>
            <div class="form-group">
                <label>عبارت را محاسبه و وارد نمائید</label>
                <dnt-captcha asp-captcha-generator-max="999"
                             class="input-group"
                             asp-captcha-generator-min="110"
                             asp-captcha-generator-language="Persian"
                             asp-captcha-generator-display-mode="NumberToWord"
                             asp-use-relative-urls="true"
                             asp-validation-error-message="عبارت را محاسبه و وارد نمائید"
                             asp-font-name="Tahoma"
                             asp-font-size="16"
                             asp-fore-color="#333333"
                             asp-back-color="#F7F9B8"
                             asp-text-box-class="form-control"
                             asp-text-box-template="<div class='ml-auto'>{0}</div>"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="fas fa-redo btn-sm d-none"
                             asp-use-noise="false"
                             asp-dir="rtl" />
                <div class="form-group text-center mt-3 mb-0">
                    <input type="submit"  value="ذخیره تغییرات " class="btn btn-primary px-5 py-2" />
                </div>
            </div>
      
        </form>
    </div>
</div>



