@using EndPoint.Site.Areas.PublicRelations.Models.Dto.Account
@model PublicRelationResetPasswordDto

<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel1">@("تغییر کلمه عبور" + " " + Model.FullName)</h4>
            @if (Model.IsActive == true)
            {

                <span style="font-size:65%;" class="badge badge-pill badge-success">فعال</span>

            }
            else
            {
                <span style="font-size:65%;" class="badge badge-pill badge-secondary">غیر فعال</span>

            }
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                    </button>
                <h3 class="text-info" style="font-size:95%;"><i class="fa fa-exclamation-circle"></i> توجه</h3>
                <span style="font-size:80%;">
                    حتماً باید رمز عبور شما حاوی حروف بزرگ و کوچک انگلیسی، عدد و کاراکتر غیر الفبایی باشد
                </span>
            </div>
            <input type="hidden" id="idInput" value="@Model.UserId">
            <div class="form-group">
                <label for="recipient-name" class="control-label">کلمه عبور</label>
                <input type="password" id="Password" required="" class="form-control">
            </div>
            <div class="form-group">
                <label for="recipient-name" class="control-label">تکرار عبور</label>
                <input type="password" id="ConfirmPassword" required="" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">بستن</button>
            <a onclick="ResetPassswordUser()" class="btn btn-primary" style="color:white;">تایید</a>
        </div>
    </div>
</div>


 <link href="~/PublicRelations/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
 <script src="~/PublicRelations/Sweetalert2/sweetalert2.min.js"></script>

<script>
    function ResetPassswordUser() {
        // دریافت مقادیر ویرایش شده از فرم مودال ادیت با استفاده از jQuery
        var userId = $('#idInput').val();
        var Password = $('#Password').val();
        var ConfirmPassword = $('#ConfirmPassword').val();

        // ارسال مقادیر به سمت سرور با استفاده از AJAX
        var postData = {
            'UserId': userId,
            'Password': Password,
            'ConfirmPassword': ConfirmPassword,
        };

        $.ajax({
            contentType: 'application/x-www-form-urlencoded',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Action("PartialViewResetPasswordModal")',
            data: postData,
            success: function (data) {
                if (data.isSuccess) {
                    swal.fire(
                        'موفق!',
                        data.message,
                        'success'
                    ).then(function (isConfirm) {
                        if (isConfirm) {
                            location.reload();
                        }
                    });
                } else {
                    swal.fire(
                        'خطا!',
                        data.message,
                        'error'
                    );
                }
            },
            error: function (request, status, error) {
                // نمایش پیام خطا در کنسول
                console.error('خطا در درخواست:', request.responseText);

                // نمایش پیام خطا به کاربر
                swal.fire(
                    'خطا!',
                    'خطا در اجرای درخواست رخ داده است. لطفاً مجدداً تلاش کنید.',
                    'error'
                );
            },
        });

        // بستن مودال ادیت
        //$('#ResetPassword').modal('hide');
    }
</script>