@model Azmoon.Application.Service.WorkPlace.Dto.CreateWorkPlaceDto
@using Microsoft.AspNetCore.Mvc.Rendering;

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>رده سازمانی </h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <input type="hidden" asp-for="Id" class="form-control" />
                <input type="hidden" asp-for="referer" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SortIndex" class="control-label"></label>
                <input asp-for="SortIndex" class="form-control" required />
                <span asp-validation-for="SortIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                <select asp-for="ParentId" asp-items="@Model.Parentes" class="form-control">
                    <option>لطفا انتخاب  نمائید</option>
                </select>
                <span asp-validation-for="ParentId" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <input type="submit" value="ذخیره" class="btn btn-success ml-2" />
                <a asp-action="Index" class="btn btn-primary ">بازگشت</a>
            </div>
        </form>
    </div>
</div>

