@model Azmoon.Application.Service.User.Dto.ResetPasswordDto




<h4>ریست رمز عبور کاربر</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="UserName" type="hidden" />
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <input type="submit" value="ذخیره" class="btn btn-primary ml-3" /> 
                <a class="btn btn-warning" asp-action="Index">بازگشت به لیست</a>
            </div>
        </form>
    </div>
</div>



