@model Azmoon.Application.Service.User.Dto.UpdateUserDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update</h1>


<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name_father" class="control-label"></label>
                <input asp-for="name_father" class="form-control" />
                <span asp-validation-for="name_father" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="darajeh" class="control-label"></label>
                <input asp-for="darajeh" class="form-control" />
                <span asp-validation-for="darajeh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeDarajeh" class="control-label"></label>
                <input asp-for="TypeDarajeh" class="form-control" />
                <span asp-validation-for="TypeDarajeh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tavalod" class="control-label"></label>
                <input asp-for="tavalod" class="form-control" />
                <span asp-validation-for="tavalod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="personeli" class="control-label"></label>
                <input asp-for="personeli" class="form-control" />
                <span asp-validation-for="personeli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="melli" class="control-label"></label>
                <input asp-for="melli" class="form-control" />
                <span asp-validation-for="melli" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

