@using Azmoon.Application.Service.User.Dto
@model RolesInUserDto




<div class="col-md-6 offset-md-3">
   
    <form asp-action="AllRoleInUser" class="card p-2">
        <h1 class="color-theme-1">نقش های کاربر</h1>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="h3">
            <label asp-for="FullName" class="ml-1"></label>
            <span class="text-danger p-1">
                :
                @Html.DisplayFor(model => model.FullName)
            </span>
        </div>
        <div class="form-group">
            @if (Model != null && Model.getShortRoles != null)
            {
                <h3>
                    نکته :<span class="h6 badge-btn badge-info rounded text-danger pl-2 pr-2 mb2">با کلیک روی نقش می توانید آن را حذف نمائید.</span><br />
                    @{
                        for (int i = 0; i < Model.getShortRoles.RolesName.Count(); i++)
                        {
                            <a href="/Admin/User/DeleteRoleInUser/@Model.UserId/@Model.getShortRoles.RolesName.ElementAt(i)"><span class="badge badge-secondary m2">@Model.getShortRoles.RolesName.ElementAt(i)</span></a>
                        }
                    }

                </h3>
            }
            else
            {
                <span>کاربر فاقد نقش می باشد</span>
            }

        </div>
    </form>
    <div>
        @Html.ActionLink("افزودن نقش", "AddRoleToUser", new { id = ViewBag.UserId }, new { @class = "btn btn-success" })

        <a asp-action="Index" class="btn btn-info">بازگشت</a>
    </div>
</div>




