
<footer class="footer-1 bg-light text-dark pt-2" style="font-family: iransans; ">
    <div class="container">
        <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
            <div class="text-center">
                فناوری اطلاعات و ارتباطات <a href="http://saas.net" style="color: blue !important;"> سازمان عقیدتی سیاسی انتظامی ج.ا.ایران </a>-  1401
            </div>

        </div>
    </div>
</footer>