@using Azmoon.Application.Service.PublicRelations.DashboardServices
@model IEnumerable<ResultIncreasingTrend>

@{
    ViewData["Title"] = "Default";
    Layout = null;
    int rowIndex = 1; // شمارنده ردیف
}

<div style="padding-top:30px;">
    <div class="table-responsive">
        <table class="table">
            <thead class="bg-success text-white">
                <tr style="text-align:center;">
                    <th>ردیف</th>
                    <th>نام کانال</th>
                    <th>تعداد افزایش مخاطب</th>
                </tr>
            </thead>
            <tbody class="border border-success">
                @if (Model != null && Model.Any())
                {
                    @foreach (var item in Model)
                    {
                        <tr style="text-align:center;">

                            @* <td>@item.ChannelId</td> *@
                            <td>@rowIndex</td>
                            <td>@item.ChannelName</td>
                            <td>@item.AudienceIncrease</td>
                        </tr>
                        rowIndex++; // افزایش شمارنده
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" style="text-align:center; color:red;">اطلاعاتی وارد نشده است</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

