
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section StyleSheet{
   
}

<div class="table-responsive margin-bottom-2x">
    <table class="table margin-bottom-none">
        <thead>
            <tr>
                <th>شماره تیکت</th>
                <th>آخرین پاسخ</th>
                <th>موضوع</th>
                <th>اهمیت</th>
                <th>وضعیت</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12245234</td>
                <td>1399/10/15</td>
                <td>ایجاد فایل اکسل</td>
                <td><span class="text-warning">بالا</span></td>
                <td><span class="text-primary">باز</span></td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Messages-->
<div class="comment user-comment">
    <div class="comment-author-ava"><img src="~/media/users/3Jc41Y9v9gaGmQn0sL06ejHaMsTgTbtyTvlnxMSV.jpg" alt="Avatar"></div>
    <div class="comment-body">
        <p class="comment-text">سلام من چطور میتونم یک فایل اکسل ایجاد کنم</p>
    </div>
</div>
<div class="comment expert-comment">
    <div class="comment-body">
        <p class="comment-text">با سلام</p>
        <p class="comment-text">شما میتوانید در صفحه اصلی راست کلیک کرده و یک فایل اکسل ایجاد کنید</p>
        <div class="comment-footer"><span class="comment-meta">محمدحسین صمدی - کارشناس نرم افزار</span></div>
    </div>
    <div class="comment-author-ava"><img src="~/media/users/HkNQzKGwKucRm8YfZnukw6epFnXlStpaCbhQqI6M.jpg" alt="Avatar"></div>
</div>
<div class="comment user-comment">
    <div class="comment-author-ava"><img src="~/media/users/3Jc41Y9v9gaGmQn0sL06ejHaMsTgTbtyTvlnxMSV.jpg" alt="Avatar"></div>
    <div class="comment-body">
        <p class="comment-text">ممنون از راهنمایی شما.</p>
    </div>
</div>
<!-- Reply Form-->
<h5 class="mb-30 padding-top-1x">پاسخ</h5>
<form method="post">
    <div class="form-group">
        <textarea class="form-control form-control-rounded" id="review_text" rows="8" placeholder="لطفاً پاسخ خود را اینجا وارد کنید" required=""></textarea>
    </div>
    <div class="text-right">
        <button class="btn btn-outline-primary" type="submit">ارسال</button>
    </div>
</form>

