<!DOCTYPE html>
@using System.Security.Claims;
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>سامانه آزمون ساع.س| @this.ViewData["Title"]</title>


    <link href="~/Them/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/Report/armSaas.ico" rel="icon" type="image/png">




    <link rel="stylesheet" href="~/Them/css/demo.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Them/lib/fontawesome/css/all.css" asp-append-version="true" />


    @await RenderSectionAsync("StyleSheet", false)
</head>
<body>



    @this.RenderBody()


    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>



    @this.RenderSection("Scripts", required: false)
</body>
</html>
