@model Azmoon.Common.ResultDto.ResultDto<string>

<form id="formResetPassword" asp-action="ResetPassword">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal_body">
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="Password">رمز جدید عبور</label>
                <input name="password110" id="password110" class="form-control" type="text"  />
            </div>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <label for="rePassword">تکرار رمز عبور </label>
                <input name="rePassword" id="rePassword" class="form-control" type="text" />
            </div>
        </div>
        <input type="hidden" name="UserId" id="UserId" value="@Model.Data"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">خروج</button>
        <button type="submit" class="btn btn-primary mr-2" data-btn="changepassword">ذخیره تغییرات </button>
    </div>
</form>
<script>

        $(document).ready(function () {
            $('#exampleModal').modal('show');

        $('#password110').val('');

        });
</script>