@model Azmoon.Application.Service.User.Dto.RegisterUserDto
@{
    ViewData["Title"] = "ثبت نام";
    //Layout = "_Layout.cshtml";
}




<div class="row justify-content-center mt-2" style="text-align:right !important">
    <partial name="_BublesAndCirclesPrtial" />
    <div class="col-12 col-md-4 col-md-offset-3">
        <h4>
            با تکمیل حساب کاربری ،امکان بهره مندی از این سامانه  فراهم خواهد شد.

        </h4>
        @if (ViewBag.Errors != null)
        {
            <div class=" alert alert-danger">
                <ul>
                    @foreach (var item in ViewBag.Errors)
                    {
                        <li>@item</li>

                    }
                </ul>
            </div>

        }
        <form asp-action="Register" enctype="multipart/form-data" class="shadow p-3 mb-5 bg-body rounded">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" class="form-control" />





             <!-- start step indicators -->
        <div class="form-header d-flex mb-4">
            <span class="stepIndicator">گام اول </span>
            <span class="stepIndicator"> گام دوم</span>
            <span class="stepIndicator"> گام سوم</span>
        </div>
        <!-- end step indicators -->
    
        <!-- step one -->
        <div class="step">
            <p class="text-center mb-4"> مشخصات منحصر به فرد کاربر </p>
            <div class="mb-3">
                <input type="email" placeholder="Email Address" oninput="this.className = ''" name="email">
            </div>
            <!-- <div class="mb-3">
                <input type="password" placeholder="Password" oninput="this.className = ''" name="password">
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Confirm Password" oninput="this.className = ''" name="password">
            </div> -->
        </div>
    
        <!-- step two -->
        <div class="step">
            <p class="text-center mb-4">
               اطلاعات کاربری
            </p>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" pattern="^(?:[a-zA-Z\s,=%$#&_\u0600-\u06FF\u0750-\u077F\u08A0-\u08FF\uFB50-\uFDCF\uFDF0-\uFDFF\uFE70-\uFEFF]|(?:\uD802[\uDE60-\uDE9F]|\uD83B[\uDE00-\uDEFF])){3,15}$" required />

                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" pattern="^(?:[a-zA-Z\s,=%$#&_\u0600-\u06FF\u0750-\u077F\u08A0-\u08FF\uFB50-\uFDCF\uFDF0-\uFDFF\uFE70-\uFEFF]|(?:\uD802[\uDE60-\uDE9F]|\uD83B[\uDE00-\uDEFF])){3,15}$" required />

                    </div>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" placeholder="نام پدر" oninput="this.className = ''" name="mobile">
            </div>
            <div class="mb-3">
                <input type="text" placeholder="شماره موبایل" oninput="this.className = ''" name="address">
            </div>
            <div class="mb-3">
                <input type="text" placeholder=" درجه" oninput="this.className = ''" name="address">
            </div>
        </div>
    
        <!-- step three -->
        <div class="step">
            <p class="text-center mb-4">رمز عبور</p>
          <div class="mb-3">
                <input type="password" placeholder="Password" oninput="this.className = ''" name="password">
            </div>
            <div class="mb-3">
                <input type="password" placeholder="Confirm Password" oninput="this.className = ''" name="password">
            </div>
        </div>
    
        <!-- start previous / next buttons -->
        <div class="form-footer d-flex">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">قبلی</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">بعدی</button>
        </div>






            @*ل****************************************************ل*@

            <div class="">
                <div class="form-group">
                    <label asp-for="melli"></label>
                    <input asp-for="melli" class="form-control" type="number" pattern="(\d{10}$)" required />
                    
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <label asp-for="personeli"></label>
                    <input asp-for="personeli" type="number" class="form-control" pattern="(^40)?(\d{9}$)" required />
                   
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class="form-control" type="number" pattern="(^09)?(\d{9,10})$" placeholder="مثال : 09123654789" required />
                    
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" type="password" required/>
                  
                </div>
            </div>
            <div class="">
                <div class="form-group">
                    <label asp-for="RePassword"></label>
                    <input asp-for="RePassword" class="form-control" type="password" required/>
                   
                </div>
            </div>
    @*        <div class="form-group">
                <label>عبارت را محاسبه و وارد نمائید</label>
                <dnt-captcha asp-captcha-generator-max="999"
                             class="input-group"
                             asp-captcha-generator-min="110"
                             asp-captcha-generator-language="Persian"
                             asp-captcha-generator-display-mode="SumOfTwoNumbersToWords"
                             asp-use-relative-urls="true"
                             asp-validation-error-message="عبارت را محاسبه و وارد نمائید"
                             asp-font-name="Tahoma"
                             asp-font-size="16"
                             asp-fore-color="#333333"
                             asp-back-color="#F7F9B8"
                             asp-text-box-class="form-control"
                             asp-text-box-template="<div class='ml-auto'>{0}</div>"
                             asp-validation-message-class="text-danger"
                             asp-refresh-button-class="fas fa-redo btn-sm d-none"
                             asp-use-noise="false"
                             asp-dir="rtl" />
            </div>*@

            <div class="form-group text-center mt-3 mb-0">
                <input type="submit" id="createusersubmit" value="ثبت نام" class="btn btn-success px-5 py-2" />
            </div>
            <div class="col-12 text-center mt-2">
                <p class="text-muted">حساب کاربری دارید؟ <a asp-action="Login" class="font-weight-medium ml-1">وارد شوید</a></p>
            </div> <!-- end col -->
        </form>
    </div>
</div>



<div class="modal fade" id="TreeViewModal" role="dialog" tabindex="-1" aria-labelledby="TreeViewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TreeViewModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="WorkPlaceTreeView_modal_body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary mr-2" data-btn="save">ثبت انتخاب  </button>
                <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">خروج</button>
            </div>
        </div>
    </div>
</div>

@section StyleSheet
{

    <link href="~/lib/SweetAlert/sweetalert2.css" rel="stylesheet" />
}
@section Scripts{
    @*<partial name="_ValidationScriptsPartial" />*@

    <script src="~/lib/SweetAlert/sweetalert2.js"></script>
    <script src="~/lib/SweetAlert/polyfill.js.js"></script>

    <script src="~/Them/js/timezone.js" asp-append-version="true"></script>


    <script>
        //$('#createusersubmit').click(function (e) {


        //    $('.ir-province option').each(function () {
        //        if (this.selected) {
        //            var ss = this.selected;
        //            var ss2 = this.val();
        //            alert('this province is selected: ' + ss2);
        //            console.log("selected bottom");
        //        }

        //        else {
        //            e.preventDefault();
        //        }

        //    });
        //    $('.ir-city option').each(function () {
        //        if (this.selected)
        //            alert('this city is selected');
        //        else {
        //            e.preventDefault();
        //        }

        //    });
        //});



    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            //$('#WorkPlaceId').click(function () {
            //    selectWorkPlaceId()

            //});
            $('#select-WorkPlaceId').click(function () {
                selectWorkPlaceId()

            });
            $('#WorkPlaceIdFake').click(function () {
                selectWorkPlaceId()

            });
        });
        $('[data-btn="save"]').click(function (e) {
            e.preventDefault();
            $('input[type=checkbox]').each(function () {
                if (this.checked) {

                    $('#WorkPlaceId').val($(this).val());
                    $('#WorkPlaceIdFake').attr('placeholder', $(this).data('name'));
                    $('#TreeViewModal').modal('hide');
                }
            });

        });
        function selectWorkPlaceId() {
            $.getJSON('/Account/GetWorkPlaceTreeView', { name: 'kami', family: 'zare' }, function (result, textStatus, jqXHR) {


            })
                .done(function (result) {
                    if (result.isSuccess) {
                        $('#WorkPlaceTreeView_modal_body').empty();
                        $('#WorkPlaceTreeView_modal_body').html(result.data);
                        $('#TreeViewModal').modal('show');

                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: result.data,
                            showConfirmButton: false,
                            timer: 3000
                        })

                    }


                })
                .fail(function (jqxhr, settings, ex) {
                    Swal.fire({
                        icon: 'error',
                        title: 'اطلاعات و مقادیر وارد شده نادرست می باشد دقت فرمائید!!',
                        showConfirmButton: false,
                        timer: 3000
                    })
                });
        }
    </script>
}
